<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emission Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"/>
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <h1>Total Emission from all of your company's operation = {{ total | round(2) }} tons</h1>

            <h2>Activity Wise Emissions</h2>
            <table border="1" display="block">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Emissions in tons</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity, emissions in emission.items() %}
                    <tr>
                        <td>{{ activity }}</td>
                        <td>{{ emissions | round(2) }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Offsets Needed to Reach Carbon Neutrality:</h2>
            <table border="1" display="block">
                <thead>
                    <tr>
                        <th>Offset Method</th>
                        <th>Units Needed (acres, kWh etc.) </th>
                    </tr>
                </thead>
                <tbody>
                    {% for method, units in offsets.items() %}
                    <tr>
                        <td>{{ method }}</td>
                        <td>{{ units | round(2) }} units</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


                <!-- Option to return to the form -->
                <!-- <a href="/">Go back to form</a> -->
        </div>
    </div>
</body>
</html>